<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ascba.fanli">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.splash.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.guide.GuideActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.base.BaseActivity" />
        <activity
            android:name=".activities.register.RegisterInputNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.register.RegisterAfterReceiveCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.password_loss.PasswordLossActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.password_loss.PasswordLossWithCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.PersonalDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" >

        </activity>
        <activity
            android:name=".activities.SafeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.RealNameCofirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.ModifyNicknameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.PhoneChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.SexChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.LoginPasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.MyPowerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.AgeChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.PasswordProtectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.PasswordProtect2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AccountRechargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.CashGetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.RedScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BusinessCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BusinessDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BusinessDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" >

        </activity>
        <activity
            android:name=".activities.WSAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.TicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.UserUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.PayPasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.EmployeeRateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BusinessPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity android:name=".activities.BusinessTagActivity" />
        <activity android:name=".activities.BusinessNameActivity" />
        <activity android:name=".activities.BusinessDescriptionActivity" />
        <activity
            android:name=".activities.BusinessPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle"></activity>
        <activity
            android:name=".activities.CardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle"></activity>
    </application>

</manifest>