<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ascba.rebate">

    <permission
        android:name="com.ascba.rebate.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.ascba.rebate.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4E8pe2i48Sb3pQvSXRpWvvnDV0GwLFxu" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="11d31c62f7f344c66c4f0fc80a15c4ce" />

        <activity
            android:name=".activities.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.main.MainWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.guide.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.register.RegisterInputNumberWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.register.RegisterAfterReceiveCodeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.password_loss.PasswordLossWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.password_loss.PasswordLossWithCodeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.PersonalDataWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.SafeSettingWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.SettingWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.RealNameCofirmWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.personal_data_child.LocationWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.QRCodeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.personal_data_child.ModifyNicknameWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.safe_setting_child.PhoneChangeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.personal_data_child.SexChangeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.safe_setting_child.LoginPasswordChangeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.personal_data_child.AgeChangeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.safe_setting_child.PasswordProtectWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.PasswordProtect2WorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.login.LoginWorkActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.AccountRechargeWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.CashGetWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.BusinessCenterWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessDataWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.main_page.BusinessDetailsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.white_score_child.WSExchangeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.TicketWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.UserUpdateWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.PayPasswordChangeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.EmployeeRateWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessPhoneWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessTagWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessNameWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessDescriptionWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessPicWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.CardWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.TestWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.main_page.CityList"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.main_page.HotWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity android:name=".view.cityList.searchactivity" />
        <activity
            android:name=".activities.main_page.sweep.PayWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.safe_setting_child.PhoneChange2WorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessLocationWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.BusinessTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.me_page.bank_card_child.CardDataWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.bank_card_child.AddCardWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.GoodsDetailsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ascba.rebate" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.ascba.rebate" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.ascba.rebate" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="38b7d12e3ef40facf5b431d6" /> <!-- </>值来自开发者平台取得的AppKey -->

        <activity
            android:name=".activities.main_page.sweep.PushResultWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.bank_card_child.BankCardWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.AllAccountWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <!-- 支付宝相关 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".activities.main_page.RecQRWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.ProxyWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.base.WebViewBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.register.RegisterProtocolWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.user_update_child.OpenProxyWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.message.MessageWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.main_page.ShowDescriptionWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.WhiteScoreWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.settings.child.real_name_confirm.RealNameSuccessWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.RedScoreUpdateWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.BCInputNameWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.BCProcessWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activities.me_page.business_center_child.ShowPicWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.main_page.sweep.TradeResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.recharge_child.RechaSuccActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.cash_get_child.CashGetSuccActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.white_score_child.WSSuccActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.red_score_child.RedScSuccActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".qr.CaptureWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.business_center_child.child.GaoDeSearchUpdate"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxc0690c2be47a7d66" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.me_page.business_center_child.child.BusLocDetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.supermaket.TypeMarketWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.milk.TypeMilkWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BeginnerGuideWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.AllEvaluationWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.GoodsListWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.ReceiveAddressWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.AddAdressWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.MyOrderWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.shop.order.DeliverDetailsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.ConfirmOrderWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <!-- 文件共享 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ascba.rebate.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.FilterWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BusinessShopWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.shop.ShopWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.ASKCollegeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.CollegeEnrollmentWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.MemCardWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.clothes.TypeClothWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.MyEvaluationWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.MyRecWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.me_page.MyAwardWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.PlayVideoWorkActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".activities.ShopMessageWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.MessageDetailsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.TransactionRecordsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.MessageLatestWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.CommissionWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.EditAdressWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.SelectAddrssWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BusinessUnionWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.ProxyDetWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.RefundOrderWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.BusiFlowRecordsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.shop.order.EvaluateDetailsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.shop.order.TakeDetailsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".activities.shop.order.PayDetailsWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle" />
        <activity android:name=".activities.me_page.WhiteBillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStyle"
            />
    </application>

</manifest>